.navigation {
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
}

.productImg {
  width: 100px;
  height: 100px;

}

.productDiv {
width: 200px;
height: 300px;
border: 1px solid black;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  height: 100%;
  margin: 20px auto;
}

.homeImg {
  width: 100%;
}

.search {
  height: 30px;
  width: 200px;
  margin: 30px 0px 0px -60px;
}

a {
  text-decoration: none;
  font-weight: lighter;
}

.detailContainer {
display: flex;
width: 800px;
margin: 10px auto;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  
}

.detailImg {
  width: 300px;
  height: 300px;
}

/* Needto fix */
.detailName {
  margin: 10px auto;
}