body {
  font-family: Arial, Helvetica, sans-serif;
}


.productImg {
  width: 100px;
  height: 100px;

}

.productDiv {
width: 200px;
height: 300px;
border: 1px solid black;
margin: 10px;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  height: 100%;
  margin: 20px auto;
}

.home-container {
position: relative;
width:100%;
}

.homeImg {
  width: 100%;
  height: auto;
}

.home-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;

}

.search {
  height: 30px;
  width: 200px;
  /* margin: 30px 0px 0px -60px; */
}

a {
  text-decoration: none;
  font-weight: lighter;
}

.detailContainer {
display: flex;
width: 800px;
margin: 10px auto;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  
}

.detailImg {
  width: 300px;
  height: 300px;
}

/* Needto fix */
.detailName {
  margin: 10px auto;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.card {
  border-color: transparent;
  transition: all 0.5s linear;
}
.card:hover {
border: 0.04rem solid rgba(0, 0, 0, 0.2);
box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.card-container{
  width: 700px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-footer{
  background: transparent; 
  border-top: transparent;
  transition: all 1s linear;
}
.card-footer:hover{
  background: lightgray;
}

.cart-btn {
background-color: rgb(46, 46, 46);
color: white;
border-radius: 10px;
width: 100%; 
border: 0.5px transparent;
}

.items-container {
  width: 500px;
  height: 100%;
  border: 2px solid black;
  margin: 50px 20px;
  background-color: rgb(219, 219, 219);
}

.inner-container {
  border: 0.5px transparent;
  width: 450px;
  height: 80px;
  margin: 3px auto 5px auto;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.cartImg{
  width: 100px;
  height: 100px;
}